@page

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home page";
}

<table>
    <tr>
        <td class="cent"><h1>Welcome to my online portfolio.</h1></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="left"><h2>You have either stumbled here by accident or you are a possible employer I mentioned this site to.  Regardless of why you are here or how you got here, I hope you are interested by what you see, and thank you for your visit.</h2></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="left">Due to the limitations of a paper resume, I have put together this selection to give you a sample of the work I have done.  This site includes many programming examples in HTML, VBScript, and some JavaScript, however, there are some examples of Java as well as VBScripts using SQL to access databases.  Some of the examples require specific instructions, so please follow them for the example to work.</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="left">For instance, some of the samples are zipped, so you will need to fully extract them before they work.  Others require Internet Explorer and ActiveX to be used.  Everything on this site is safe to run, but you are welcome to browse the source code and run virus scanners to verify this.</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="left">There are some utilities and games included that are free to distribute and enjoy for personal use.  I hope you enjoy this site for more than just the information on myself.</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="left">Speaking of myself, here is a copy of my <a href="http://www.intensecomputers.com/portfolio/Eric_Ingamells_Resume.docx">resume</a>, <a href="http://www.intensecomputers.com/portfolio/references.php">references</a> (password protected) and a link to my <a href="http://www.intensecomputers.com/" rel="external">business website</a>.  The website is written in PHP, HTML, JavaScript, CSS, and uses SQL to access a MySQL database.</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="left">By the way, I don't have any specific copyrights assigned to any product, but I do request that you don't use these scripts or apps for any business application unless you contact me first and gain my approval.</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="left">This website is built with <a href="http://notepad-plus-plus.org/" rel="external">NotePad++</a> using HTML, CSS, and a little bit of JavaScript.  It was also tested with Safari, FireFox, Opera, Edge, and Google Chrome.</td>
    </tr>
</table>

@section Scripts {
    <script type="text/javascript">
        var version = "c#.netrazor";
    </script>
}
