@page

@{
    Layout = "_Layout";
    ViewData["Title"] = "Standalone apps";
}

<table>
    <tr>
        <td class="text">This instance of "Color Picker" is the same as the applet version, only it is a stand alone version in Java.</td>
        <td rowspan="100" style="width:5%">&nbsp;</td>
        <td class="mid"><a href="http://www.intensecomputers.com/portfolio/ColorPicker.exe">ColorPicker.exe</a></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="text">While I was in desktop support, I had to often give a user local admin rights to their computer, and then take the rights away after I was done.  This was a little tedious, so I wrote a VBScript to make it easier.  I called it, simply, "Give Admin Rights."</td>
        <td class="mid"><a href="http://www.intensecomputers.com/portfolio/GiveAdminRights.hta" rel="external">GiveAdminRights.hta</a></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="text">This script was born from the project given by a supervisor at a previous position.  This project was to gather information on who has administrative rights on their local computer, for the whole company.  I ended up writing a series of three scripts and an Access database.  There are also two documents to be used as instructions and guidelines for use.  Please do not run these scripts, as they can possibly degrade your network performance.  This series of scripts has never been fully tested, but have been tested with a small number of specifically selected machines.</td>
        <td class="mid"><a href="http://www.intensecomputers.com/portfolio/AdminRights.zip">AdminRights.zip</a></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="text">"Installer Runner" was another idea given to me by a supervisor.  He wanted to create a CD or DVD with all the programs we installed on the business computers, but didn't have automated installations for.  I created one script to follow a manual installation of a program and record the keystrokes, and other useful information, to be used later by the second script.  This script would be set as the autorun feature on the CD and would be a listing of all the installations recorded by the first script.  This second script would run the installations selected by the technician according to the information recorded by the first script.</td>
        <td class="mid"><a href="http://www.intensecomputers.com/portfolio/InstallerRunner.zip">InstallerRunner.zip</a></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="text">Another area of desktop support that I found needed help was with SMS automated network installs.  Sometimes the SMS service didn't install a program correctly, so we had to do various things to get it working correctly.  I found that simply editing the information stored on the local computer in the registry by the SMS client would solve many problems.  So I created "SMS Checker" to go to a networked computer, read the SMS entries, and display the problem entries for the administrator to edit.  You can give a false "Success" or simply delete an entry, depending on the problem you need to fix.</td>
        <td class="mid"><a href="http://www.intensecomputers.com/portfolio/SMSChecker.hta" rel="external">SMSChecker.hta</a></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="text">One thing that has always made me wonder is why there is no readily available ping utility for Windows.  You always have to go to a Command prompt to run it.  I created "Ping Status" to be a user and Windows friendly ping utility in 2007.  If you do a ping -t, you get a list of all the pings it does, and it quickly runs off the screen.  Then you have to scroll through everything to find the failures, only to find very uninformative information.  My version can show only the failures and gives more detailed information on why a ping failed.  In May of 2012, I updated the script to include successful pings with response times, as well as the ablity to save and load sessions, along with instructions for use.</td>
        <td class="mid"><a href="http://www.intensecomputers.com/portfolio/PingStatus.hta" rel="external">PingStatus.hta</a></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="text">This is a VBScript example, so you will have to open this in Internet Explorer, and you may have to download it to your computer.  The <a href="http://dev.mysql.com/downloads/connector/odbc/" rel="external">MySQL ODBC connector</a> will need to be installed on your computer, if you don't already have it.  You will also need to "Allow Blocked Content" to see the seating chart that gathers the name, color, and cubicle information from a database.  I designed the database to be able to include information on other locations for this company, but there was no interest in this usage. Originally this was referencing a MS Access database that you had to have on your local computer, but I switched it to a MySQL database for ease of use on this site.</td>
        <td class="mid"><a href="http://www.intensecomputers.com/portfolio/BandagSeatingChart/BILC%20Seating.html" rel="external">BILC Seating.html</a></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="text">While working for the Mercy Medical Center in Cedar Rapids, I was asked to write a script to help with replying to e-mails.  The Call Center would get e-mails that would need a "standard response," but they didn't have the responses typed up for them, so they had to hand type each response.  I wrote this with VBScript and HTML to access a MS Excel file so they could choose the responses they needed for an e-mail.  Sample information is included in the Info.xls file.</td>
        <td class="mid"><a href="http://www.intensecomputers.com/portfolio/HelpDesk.hta" rel="external">HelpDesk.hta</a><br /><a href="http://www.intensecomputers.com/portfolio/Info.xls" rel="external">Info.xls</a></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="text">This is the same "TimeCard" as the online version, but in an offline HTA version. The source code for the JavaScripting, Cookies, and the language file is all the same between the online and offline versions.</td>
        <td class="mid"><a href="http://www.intensecomputers.com/timecard/TimeCard.zip" rel="external">TimeCard.zip</a></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
</table>

@section Scripts {
    <script type="text/javascript">
        var version = "c#.netrazor";
    </script>
}
